body { background: #8f1156; margin: 0; font-family: sans-serif; }
.storefront-container { padding: 21px; display: flex; }
.block-search-0 { color: #473acc; font-size: 15px; margin-bottom: 5px; }
.block-metrics-1 { color: #cb11b9; font-size: 19px; margin-bottom: 5px; }
.block-auth-2 { color: #20227d; font-size: 20px; margin-bottom: 5px; }
.block-search-3 { color: #e630fa; font-size: 14px; margin-bottom: 5px; }
.block-cache-4 { color: #c57d86; font-size: 14px; margin-bottom: 5px; }